@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}


.btnCarrito {
  
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.titulo-header {
    display: flex;
    padding-left: 10px;
    background-color: #eadae6;
    color: #254441;
    font-family: "Poppins";
}


.texto-main  {
    background-image: linear-gradient(#eadae6, white);
    text-align: left;
    color: #254441;
    font-family: "Open Sans";
    align-content: center;
   

}
#main-index{
    align-content: center;
    background-image: url("https://res.cloudinary.com/diklj3m6q/image/upload/v1696571294/fondo-index_ojuvzd.png");
    height: 80vh;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    margin: 0;

}  

.contenido-index {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    height: 38vh;
    padding: 20px;
}

.footer {
    
    background-color: #eadae6;
    font-family: "Poppins";
    color: #254441 !important;
    text-align: center;
    text-decoration: none;
}



@media (max-width: 790px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 15px;
        font-size: smaller;
    }

    .contenido,
    .cuerpo-index,
    #main-nosotres,
    #main-preguntas,
    #main-cristales,
    #main-contacto {
        font-size: 11pt;
        height: 50%;
        width: 95%;

    }

    .footer {
        color: #254441 !important;
        text-align: center;
        text-decoration: none;
        font-size: smaller;
        --bs-navbar-padding-y: 0px !important; 
    }

}
